/*
  .mtk1 文本
  .mtk3 注释
  .mtk4 字符串
  .mtk6 类名,基本数据类型
  .mtk14 h1~h6标题
  .mtk15 标签名
  .mtk19 value值
  .mtk19 标签属性/css选择器/markdown标题
  .mtk21 函数名
*/

.mtk3.mtki {
  color: #6071cc;
}

.mtk5,
.mtk6,
.mtk21 {
  text-shadow: 0 0 2px #03edf9, 0 0 4px #03edf975;
}

.mtk7 {
  color: #61ff96;
}

.mtk8 {
  color: #ffcc00;
}

.mtk9,
.mtk10 {
  color: #ffcc00;
  text-shadow: 0 0 2px #ffcc00, 0 0 4px #ffbb3399;
  font-style: italic;
}

.mtk14,
.mtk15 {
  text-shadow: 0 0 2px #fc199a, 0 0 4px #fc199a7c;
}

.monaco-editor .margin,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background: transparent;
}

/* VScode图标 */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container.empty
  .editor-group-letterpress {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='40px' viewBox='0 0 41 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='97.6652818%25' id='linearGradient-1'%3E%3Cstop stop-color='%23FC28A8' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2303EDF9' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='letterpress-dark' fill='url(%23linearGradient-1)'%3E%3Cg id='Group'%3E%3Cpath d='M30.2354,39.8836 C29.9195,39.8862 29.6057,39.8287 29.3109,39.7139 C28.9896,39.5885 28.6977,39.3979 28.4539,39.1539 L12.6999,24.7799 L9.23917,27.4037 L5.83434,29.986 C5.70454,30.0845 5.56201,30.1626 5.41164,30.2189 C5.20259,30.2976 4.9783,30.3339 4.7519,30.3239 C4.36361,30.3068 3.99356,30.1543 3.70588,29.8929 L1.50588,27.8929 C1.33452,27.7368 1.19763,27.5466 1.10396,27.3346 C1.01029,27.1225 0.961914,26.8933 0.961914,26.6614 C0.961914,26.4296 1.01029,26.2004 1.10396,25.9883 C1.19763,25.7762 1.33452,25.5861 1.50588,25.4299 L7.45788,19.9999 L4.67072,17.4532 L1.50734,14.5689 C1.33584,14.4129 1.19883,14.2227 1.10507,14.0107 C1.01132,13.7986 0.962891,13.5693 0.962891,13.3374 C0.962891,13.1056 1.01132,12.8763 1.10507,12.6642 C1.19883,12.4521 1.33584,12.262 1.50734,12.1059 L3.70734,10.1059 C3.72926,10.086 3.75165,10.0667 3.7745,10.048 C4.05213,9.82027 4.39666,9.68789 4.7569,9.67196 C5.14519,9.65479 5.52725,9.77401 5.83688,10.0089 L12.6999,15.2179 L28.4519,0.843942 C28.5452,0.751682 28.6455,0.666763 28.7519,0.589942 C29.1153,0.325601 29.5436,0.164633 29.9911,0.124137 C30.0919,0.11502 30.1928,0.112086 30.2933,0.115234 C30.6444,0.123748 30.9918,0.206443 31.3117,0.360027 L39.5477,4.32103 C39.9716,4.52522 40.3292,4.84487 40.5795,5.24325 C40.7787,5.56023 40.9035,5.9168 40.9462,6.28629 C40.9574,6.38148 40.9632,6.47754 40.9633,6.57401 L40.9633,6.67295 C40.9633,6.65781 40.9631,6.64268 40.9627,6.62757 L40.9627,33.3704 C40.9631,33.3552 40.9633,33.3401 40.9633,33.3249 L40.9633,33.4199 C40.9633,33.5146 40.9579,33.609 40.9472,33.7025 C40.9055,34.0754 40.7802,34.4355 40.5793,34.7552 C40.329,35.1534 39.9714,35.4729 39.5477,35.677 L31.3117,39.638 C31.0191,39.7785 30.7037,39.8596 30.3833,39.879 C30.3341,39.882 30.2848,39.8835 30.2354,39.8836 Z M30.9509,10.9369 L19.0028,19.9987 L30.9549,29.0639 L30.9509,10.9369 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
}

/* Gradient for editor background */
/*
.editor .content,
.monaco-editor {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #130d1a 65%, #200933);
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.editor-container {
  position: relative;
  overflow: hidden;
}

.editor-group-container {
  position: relative;
  overflow: hidden;
}
*/

/* 小地图 */
/*
.minimap-slider {
    z-index: 3;
    background: #f92aad33 !important;
}

.minimap.slider-mouseover {
    z-index: 1;
}
*/

/* Badges */
.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .badge
  .badge-content {
  background: linear-gradient(#fc28a8, #03edf9);
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fit::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
}

/* Active sidebar item */
.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .action-item.checked {
  box-shadow: inset 0 -5px 25px #fc28a825;
  position: relative;
}

.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .action-item.checked::after {
  content: "";
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 4px;
  background: linear-gradient(to bottom, #fc28a8, #03edf9) !important;
  opacity: 1;
}

.monaco-workbench
  .activitybar
  > .content
  .monaco-action-bar
  .action-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0px;
  transition: opacity 1s;
  opacity: 0;
}

/* Active tab neon */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active {
  position: relative;
  --tab-border-bottom-color: transparent !important;
}

/* Active tab stripe */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #fc28a8, #03edf9) !important;
}

/* Neon lightbulb */
.lightbulb-glyph {
  background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect fill='%23ffffff' x='5.68' y='6.93' width='2.1' height='6.1' rx='0.96' transform='translate(-1.94 1.63) rotate(-12.09)'/%3E%3Cpath fill='%2303edf9' d='M7.08,13.5a1.46,1.46,0,0,1-1.43-1.16L4.77,8.26A1.47,1.47,0,0,1,5.9,6.53l.17,0A1.46,1.46,0,0,1,7.81,7.61l.87,4.09a1.46,1.46,0,0,1-1.12,1.73l-.18,0Zm-.7-6h-.1l-.17,0a.45.45,0,0,0-.29.21.45.45,0,0,0-.07.34l.88,4.09a.46.46,0,0,0,.54.35l.18,0a.46.46,0,0,0,.29-.2.48.48,0,0,0,.07-.35L6.83,7.82A.46.46,0,0,0,6.38,7.46Z'/%3E%3Crect fill='%23ffffff' x='8.22' y='6.93' width='2.1' height='6.1' rx='0.96' transform='translate(16.25 21.68) rotate(-167.91)'/%3E%3Cpath fill='%2303edf9' d='M8.93,13.5a1.63,1.63,0,0,1-.31,0l-.18,0A1.46,1.46,0,0,1,7.32,11.7l.87-4.09A1.47,1.47,0,0,1,9.93,6.49l.18,0a1.45,1.45,0,0,1,.92.63,1.47,1.47,0,0,1,.2,1.1l-.88,4.08a1.45,1.45,0,0,1-.63.93A1.48,1.48,0,0,1,8.93,13.5Zm.69-6a.45.45,0,0,0-.25.07.5.5,0,0,0-.2.29L8.3,11.9a.43.43,0,0,0,.06.35.46.46,0,0,0,.29.2l.18,0a.47.47,0,0,0,.55-.35l.87-4.09a.45.45,0,0,0-.06-.34A.47.47,0,0,0,9.9,7.5l-.18,0Z'/%3E%3Cpath fill='%23ffffff' d='M11.77,9l-3.53.67a1,1,0,0,1-1.15-.88h0A1.09,1.09,0,0,1,7.9,7.48l3.53-.67a1,1,0,0,1,1.15.89h0A1.08,1.08,0,0,1,11.77,9Z'/%3E%3Cpath fill='%2303edf9' d='M8.07,10.18A1.54,1.54,0,0,1,6.6,8.83a1.74,1.74,0,0,1,.25-1.22,1.46,1.46,0,0,1,1-.66l3.52-.67A1.51,1.51,0,0,1,13.07,7.6a1.61,1.61,0,0,1-1.22,1.88l-3.52.67A1.15,1.15,0,0,1,8.07,10.18ZM11.6,7.34h-.09L8,8a.53.53,0,0,0-.4.62.5.5,0,0,0,.57.44l3.52-.67a.54.54,0,0,0,.41-.62A.53.53,0,0,0,11.6,7.34Z'/%3E%3Cpath fill='%23ffffff' d='M11.74,6.74,4.67,8.08A1,1,0,0,1,3.52,7.2h0A1.08,1.08,0,0,1,4.33,6l7.06-1.34a1,1,0,0,1,1.16.88h0A1.08,1.08,0,0,1,11.74,6.74Z'/%3E%3Cpath fill='%2303edf9' d='M4.5,8.64a1.44,1.44,0,0,1-.86-.29A1.64,1.64,0,0,1,3,7.29a1.72,1.72,0,0,1,.25-1.21,1.48,1.48,0,0,1,1-.67l7.07-1.34a1.39,1.39,0,0,1,1.11.27A1.65,1.65,0,0,1,13,5.4a1.72,1.72,0,0,1-.25,1.21,1.48,1.48,0,0,1-1,.67L4.76,8.62Zm7.07-3.5h-.09L4.42,6.49a.45.45,0,0,0-.32.22.56.56,0,0,0-.09.4.61.61,0,0,0,.21.35.47.47,0,0,0,.36.09L11.65,6.2A.47.47,0,0,0,12,6a.51.51,0,0,0,.08-.4.55.55,0,0,0-.2-.35A.47.47,0,0,0,11.57,5.14Z'/%3E%3Cpath fill='%23ffffff' d='M11.7,4.52,4.64,5.86A1,1,0,0,1,3.49,5h0A1.09,1.09,0,0,1,4.3,3.72l7.06-1.34a1,1,0,0,1,1.15.88h0A1.09,1.09,0,0,1,11.7,4.52Z'/%3E%3Cpath fill='%2303edf9' d='M4.46,6.42a1.36,1.36,0,0,1-.85-.3,1.58,1.58,0,0,1-.61-1A1.61,1.61,0,0,1,4.21,3.19l7.07-1.34a1.35,1.35,0,0,1,1.11.27,1.58,1.58,0,0,1,.61,1,1.74,1.74,0,0,1-.25,1.22,1.44,1.44,0,0,1-1,.66L4.72,6.39A1.09,1.09,0,0,1,4.46,6.42Zm7.07-3.51h-.08L4.38,4.26a.53.53,0,0,0-.4.62.5.5,0,0,0,.57.44L11.62,4a.47.47,0,0,0,.32-.22.62.62,0,0,0,.08-.4.56.56,0,0,0-.2-.35A.53.53,0,0,0,11.53,2.91Z'/%3E%3Cpath fill='%23ffffff' d='M8.34,2.89,4.57,3.6a1,1,0,0,1-1.15-.88h0a1.08,1.08,0,0,1,.81-1.25L8,.75a1,1,0,0,1,1.15.89h0A1.08,1.08,0,0,1,8.34,2.89Z'/%3E%3Cpath fill='%2303edf9' d='M4.4,4.16a1.44,1.44,0,0,1-.86-.29,1.69,1.69,0,0,1-.61-1.05A1.74,1.74,0,0,1,3.18,1.6a1.51,1.51,0,0,1,1-.67L7.91.22A1.38,1.38,0,0,1,9,.49a1.58,1.58,0,0,1,.61,1.05,1.74,1.74,0,0,1-.25,1.22,1.47,1.47,0,0,1-1,.66l-3.77.72A1.18,1.18,0,0,1,4.4,4.16ZM8.17,1.28H8.09L4.32,2A.45.45,0,0,0,4,2.23a.51.51,0,0,0-.08.4.55.55,0,0,0,.2.35.49.49,0,0,0,.37.09l3.77-.72a.47.47,0,0,0,.32-.22.62.62,0,0,0,.08-.4.56.56,0,0,0-.2-.35A.53.53,0,0,0,8.17,1.28Z'/%3E%3Cpolygon fill='%231e1e1e' points='5.5 11.1 5.5 11.1 5.5 14.4 7.1 16 9.1 16 10.6 14.4 10.6 11.1 5.5 11.1'/%3E%3Cpath fill='%23c5c5c5' d='M6.5,12h3v1h-3Zm1,3H8.6l.9-1h-3Z'/%3E%3C/svg%3E")
    50% no-repeat !important;
  filter: drop-shadow(0 0 5px #03edf9);
}

/* 光标颜色 */
.monaco-editor .cursor {
  background: linear-gradient(to bottom, #03edf9, #fc28a8);
  box-shadow: 0 0 5px #f92aad;
  border-color: #03edf9;
  color: #1b2f2f;
}

.monaco-inputbox > .wrapper > textarea.input::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

/* 行号 */
.monaco-editor .line-numbers {
  text-shadow: 0 0 15px #0026ff;
}

/*
 * vscode-powerline/powerline.css
 *
 * Powerline for VS Code, enhanced for VSCodeVim
 */

/* Themes */

/* airline default "dark" theme */
body {
  --powerline-mode-fg: #00005f;
  --powerline-normal-bg: #dfff00;
  --powerline-insert-bg: #00dfff;
  --powerline-replace-bg: #af0000;
  --powerline-visual-bg: #ffaf00;
  /* --powerline-inner-fg: #ffffff; */
  --powerline-inner-bg: #202020;
  --powerline-inner-bg-hl: #303030;
  --powerline-second-segment-fg: #ffffff;
  --powerline-second-segment-bg: rgba(0, 0, 0, 0.5);
  --powerline-separator: #303030;
  --powerline-vim-command-line: #ffffff;
  --powerline-mode-weight: bold;
}

/* Nord */
div.arcticicestudio-nord-visual-studio-code-themes-nord-color-theme-json
  footer.statusbar {
  --powerline-mode-fg: #3b4252;
  --powerline-normal-bg: #88c0d0;
  --powerline-insert-bg: #eceff4;
  --powerline-replace-bg: #a3be8c;
  --powerline-visual-bg: #8fbcbb;
  --powerline-inner-fg: #d8dee9;
  --powerline-inner-bg: #3b4252;
  --powerline-inner-bg-hl: #4c566a;
  --powerline-second-segment-fg: #e5e9f0;
  --powerline-second-segment-bg: rgba(0, 0, 0, 0.6);
  --powerline-separator: rgba(0, 0, 0, 0.3);
  --powerline-vim-command-line: #eceff4;
  --powerline-mode-weight: bold;
}

/* onedark, onehalf dark */
div.zhuangtongfa-material-theme-themes-OneDark-Pro-json footer.statusbar,
div.quandinh-onehalf-dark-themes-onehalf-dark-color-theme-json
  footer.statusbar {
  --powerline-mode-fg: #282c34;
  --powerline-normal-bg: #98c379;
  --powerline-insert-bg: #61afef;
  --powerline-replace-bg: #e06c75;
  --powerline-visual-bg: #e5c07b;
  --powerline-inner-fg: #abb2bf;
  --powerline-inner-bg: #313640;
  --powerline-inner-bg-hl: #3e4452;
  --powerline-mode-weight: bold;
  --powerline-second-segment-fg: #dcdfe4;
  --powerline-second-segment-bg: rgba(0, 0, 0, 0.5);
  --powerline-separator: rgba(0, 0, 0, 0.25);
  --powerline-vim-command-line: #dcdfe4;
}

/* Solarized Dark */
div.vscode-theme-solarized-dark-themes-solarized-dark-color-theme-json
  footer.statusbar {
  --powerline-inner-fg: #93a1a1;
  --powerline-inner-bg: #073642;
  --powerline-inner-bg-hl: #586e75;
  --powerline-mode-fg: #fdf6e3;
  --powerline-normal-bg: #586e75;
  --powerline-insert-bg: #b58900;
  --powerline-replace-bg: #dc322f;
  --powerline-visual-bg: #859900;
  --powerline-mode-weight: bold;
  --powerline-second-segment-fg: rgba(255, 255, 255, 0.5);
  --powerline-second-segment-bg: rgba(0, 0, 0, 0.5);
  --powerline-separator: #586e75;
  --powerline-vim-command-line: #eee8d5;
}

/* Main styles */

footer.statusbar {
  background-color: var(--powerline-normal-bg) !important;
  overflow: hidden !important;
}
.statusbar-item a:hover {
  background-color: transparent !important;
}
.statusbar-item {
  position: relative;
  background: transparent;
}
.statusbar-item *,
.statusbar-item:before,
.statusbar-item:after {
  z-index: 1;
}
.statusbar-item > :first-child {
  position: relative;
}
/* second from left and on */
.statusbar-item.left > :first-child {
  margin: 0 0 0 -10px !important;
}
/* second from left */
.statusbar-item.left.first-visible-item {
  margin-right: -2px; /* avoid 1px leak on right if only 2 items are visible */
}
/* first from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  padding-right: 5px !important;
}
/* first from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""]) > :first-child {
  margin: 0 0 0 22px !important;
}
/* second from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  > :first-child {
  margin: 0 -11px 0 0 !important;
}
/* third from right and on */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  > :first-child {
  margin: 0 -11px 0 0 !important;
}
/* first from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  color: var(--powerline-mode-fg);
}
/* second from left, second from right */
.statusbar-item.left.first-visible-item,
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  padding: 0 22px !important;
}
/* second from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  margin-right: -22px !important;
}
/* third from left */
/* TODO(pcwalton): fix hidden logic */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim),
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not([aria-label^="-- "]) {
  margin-left: -21px !important;
  padding: 0 22px !important;
}
/* third from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  margin-right: -23px !important;
  padding: 0 22px !important;
}
/* fourth from left */
/* TODO(pcwalton): fix hidden logic */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left
  ~ .statusbar-item.left:not(#vscodevim\.vim),
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left
  ~ .statusbar-item.left:not([aria-label^="-- "]) {
  margin-left: -21px !important;
}
/* fourth from right */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  margin-right: -21px !important;
}
/* second from left: left triangle */
.statusbar-item.left.first-visible-item:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  height: 22px;
  right: 22px;
  box-sizing: border-box;
  border-left: solid transparent 11px;
  border-top: solid var(--powerline-second-segment-bg) 12px;
  border-right: solid var(--powerline-second-segment-bg) 11px;
  border-bottom: solid var(--powerline-second-segment-bg) 12px;
}
/* second from right: right triangle */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  height: 22px;
  left: 22px;
  box-sizing: border-box;
  border-left: solid var(--powerline-second-segment-bg) 11px;
  border-top: solid var(--powerline-second-segment-bg) 12px;
  border-right: solid transparent 11px;
  border-bottom: solid var(--powerline-second-segment-bg) 12px; /* 12px avoids a rounding error??? */
}
/* second from left: right triangle */
.statusbar-item.left.first-visible-item:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid var(--powerline-second-segment-bg) 11px;
  border-top: solid transparent 12px;
  border-right: solid transparent 11px;
  border-bottom: solid transparent 12px;
}
/* second from right: left triangle */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid transparent 11px;
  border-top: solid transparent 12px;
  border-right: solid var(--powerline-second-segment-bg) 11px;
  border-bottom: solid transparent 12px;
}
/* third from left: left triangle */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim):before,
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not([aria-label^="-- "]):before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid transparent 11px;
  border-top: solid var(--powerline-inner-bg) 12px;
  border-right: solid var(--powerline-inner-bg) 11px;
  border-bottom: solid var(--powerline-inner-bg) 12px;
}
/* third from right: right triangle */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  left: auto;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid var(--powerline-inner-bg) 11px;
  border-top: solid var(--powerline-inner-bg) 12px;
  border-right: solid transparent 11px;
  border-bottom: solid var(--powerline-inner-bg) 12px;
}
/* third from left: right triangle */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim):after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid var(--powerline-inner-bg) 11px;
  border-top: solid var(--powerline-separator) 12px;
  border-right: solid var(--powerline-separator) 11px;
  border-bottom: solid var(--powerline-separator) 12px;
}
/* third from right: left triangle */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid var(--powerline-separator) 11px;
  border-top: solid var(--powerline-separator) 12px;
  border-right: solid var(--powerline-inner-bg) 11px;
  border-bottom: solid var(--powerline-separator) 12px;
}
/* last if VSCodeVim status/command: right triangle */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left#vscodevim\.vim:not([aria-label^="-- "]):after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-left: solid var(--powerline-inner-bg) 11px;
  border-top: solid var(--powerline-inner-bg) 12px;
  border-right: solid var(--powerline-inner-bg) 11px;
  border-bottom: solid var(--powerline-inner-bg) 12px;
}
/* second from left (hovered) */
.statusbar-item.left.first-visible-item:hover a {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 11px,
    var(--powerline-inner-bg-hl) 11px,
    var(--powerline-inner-bg-hl)
  );
}
/* second from right (hovered) */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):hover
  a {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 11px,
    var(--powerline-inner-bg-hl) 11px,
    var(--powerline-inner-bg-hl)
  );
}
/* third and on from left (hovered) */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim):hover
  a {
  background-image: none;
  background-color: var(--powerline-inner-bg-hl) !important;
}
/* third and on from right (hovered) */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):hover
  a {
  background-image: none;
  background-color: var(--powerline-inner-bg-hl) !important;
}
/* second and on from left (hovered): left triangle */
.statusbar-item.left.first-visible-item:hover:before,
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim):hover:before {
  border-top-color: var(--powerline-inner-bg-hl);
  border-right-color: var(--powerline-inner-bg-hl);
  border-bottom-color: var(--powerline-inner-bg-hl);
}
/* second and on from right (hovered): left triangle */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):hover:before {
  border-top-color: var(--powerline-inner-bg-hl) !important;
  border-left-color: var(--powerline-inner-bg-hl) !important;
  border-bottom-color: var(--powerline-inner-bg-hl) !important;
}
/* second from left and on (hovered): right triangle */
.statusbar-item.left.first-visible-item:hover:after,
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim):hover:after {
  border-left-color: var(--powerline-inner-bg-hl);
}
/* second from right and on (hovered): right triangle */
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]):hover:after {
  border-right-color: var(--powerline-inner-bg-hl) !important;
}
/* third from left and third from right: background */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim)
  a,
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not([aria-label^="-- "])
  a,
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  a {
  background-color: var(--powerline-inner-bg);
  background-image: none;
}
/* fourth from left: left arrow */
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not(#vscodevim\.vim)
  ~ .statusbar-item.left:not(#vscodevim\.vim):before {
  height: 0;
  width: 0;
}
.statusbar-item.first-visible-item {
  position: relative;
  padding-left: 0;
}
.statusbar-item.first-visible-item ~ .statusbar-item.left:not(#vscodevim\.vim) {
  position: relative;
}
/* cover up background on left side */
.left-items:after {
  flex-grow: 1;
  content: " ";
  display: block;
  margin-top: -1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 11px,
    var(--powerline-inner-bg) 11px,
    var(--powerline-inner-bg)
  );
  background-origin: border-box;
  border-left: solid transparent 11px;
  border-top: solid var(--powerline-inner-bg) 12px;
  border-right: solid var(--powerline-inner-bg) 11px;
  border-bottom: solid var(--powerline-inner-bg) 12px;
  margin-left: -21px;
  z-index: 1;
}
/* cover up background on right side */
.right-items:after {
  content: " ";
  display: block;
  margin-top: -1px;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 11px,
    var(--powerline-inner-bg) 11px,
    var(--powerline-inner-bg)
  );
  background-origin: border-box;
  border-left: solid var(--powerline-inner-bg) 11px;
  border-top: solid var(--powerline-inner-bg) 12px;
  border-right: solid transparent 11px;
  border-bottom: solid var(--powerline-inner-bg) 12px;
  margin-right: -21px;
  z-index: 1;
}

/* Powerline status */

#mimiga-net\.powerline-status.statusbar-item {
  font-family: system-ui, "MesloLGS NF", sans-serif;
}

/* VSCodeVim mode indicator */

.statusbar-item#vscodevim\.vim[aria-label^="--"] {
  order: -1;
}
.statusbar-item#vscodevim\.vim[aria-label^="--"]:after {
  position: absolute;
  content: "";
  background: inherit;
  top: 0;
  left: 100%;
  width: 10000px;
  height: 100px;
  z-index: 0;
  pointer-events: none;
}
.statusbar-item#vscodevim\.vim[aria-label^="--"] {
  font-size: 12px;
  padding: 0 5px 0 9px;
  font-weight: var(--powerline-mode-weight);
}
.statusbar-item#vscodevim\.vim[aria-label^="--"] a {
  margin: 0 !important;
  padding: 0 !important;
}
.statusbar-item#vscodevim\.vim[aria-label="-- NORMAL --"],
.statusbar-item#vscodevim\.vim[aria-label="-- INSERT --"],
.statusbar-item#vscodevim\.vim[aria-label="-- REPLACE --"],
.statusbar-item#vscodevim\.vim[aria-label="-- VISUAL --"],
.statusbar-item#vscodevim\.vim[aria-label="-- VISUAL LINE --"],
.statusbar-item#vscodevim\.vim[aria-label="-- VISUAL BLOCK --"] {
  font-size: 0;
}
.statusbar-item#vscodevim\.vim[aria-label^="-- NORMAL"] {
  color: var(--powerline-mode-fg);
  background: transparent;
}
.statusbar-item#vscodevim\.vim[aria-label^="-- INSERT"] {
  color: var(--powerline-mode-fg);
  background: var(--powerline-insert-bg);
}
.statusbar-item#vscodevim\.vim[aria-label^="-- REPLACE"] {
  color: var(--powerline-mode-fg);
  background: var(--powerline-replace-bg);
}
.statusbar-item#vscodevim\.vim[aria-label^="-- VISUAL"] {
  color: var(--powerline-mode-fg);
  background: var(--powerline-visual-bg);
}
.statusbar-item#vscodevim\.vim[aria-label="-- NORMAL --"]:before {
  content: "NORMAL";
  font-size: 12px;
}
.statusbar-item#vscodevim\.vim[aria-label="-- INSERT --"]:before {
  content: "INSERT";
  font-size: 12px;
}
.statusbar-item#vscodevim\.vim[aria-label="-- REPLACE --"]:before {
  content: "REPLACE";
  font-size: 12px;
}
.statusbar-item#vscodevim\.vim[aria-label="-- VISUAL --"]:before {
  content: "VISUAL";
  font-size: 12px;
}
.statusbar-item#vscodevim\.vim[aria-label="-- VISUAL LINE --"]:before {
  content: "V-LINE";
  font-size: 12px;
}
.statusbar-item#vscodevim\.vim[aria-label="-- VISUAL BLOCK --"]:before {
  content: "V-BLOCK";
  font-size: 12px;
}

/* More VSCodeVim */

.statusbar-item.left.first-visible-item,
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]) {
  color: var(--powerline-second-segment-fg);
}
.statusbar-item.left.first-visible-item
  ~ .statusbar-item.left:not([aria-hidden]),
.statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""])
  ~ .statusbar-item.right:not([aria-hidden]):not([aria-label=""]),
.left-items:after {
  color: var(--powerline-inner-fg);
}

/* Nice-to-have for VSCodeVim status bar */
.statusbar-item.left#vscodevim\.vim[aria-label^=":"],
.statusbar-item.left#vscodevim\.vim[aria-label^="/"],
.statusbar-item.left#vscodevim\.vim[aria-label^="?"],
.statusbar-item.right#vscodevim\.vim {
  font-family: "MesloLGS NF", Consolas, monospace;
  color: var(--powerline-vim-command-line);
}
