# https://zhuanlan.zhihu.com/p/157751660
[core]
	autocrlf = true
	longpaths = true
	editor = code.exe
[user]
	name = Weidows
	email = utsuko27@qq.com
	signingkey = ~/.ssh/liuwei_rsa.pub
[http]
	sslVerify = false
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
[pull]
	rebase = false
[safe]
	directory = *
[url "git@codeup.aliyun.com:"]
	insteadOf = https://codeup.aliyun.com/
[credential "helperselector"]
	selected = wincred
[credential "https://github.com"]
	selected = wincred
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
