registry=https://registry.npm.taobao.org/
proxy=http://127.0.0.1:7890/
https-proxy=http://127.0.0.1:7890/
auto-install-peers=true
store-dir=D:\Scoop\apps\nvm\current\pnpm\store
global-bin-dir=D:\Scoop\apps\nvm\current\pnpm\bin
cache-dir=D:\Scoop\apps\nvm\current\pnpm\cache
state-dir=D:\Scoop\apps\nvm\current\pnpm\state
global-dir=D:\Scoop\apps\nvm\current\pnpm\global
electron_mirror=https://npm.taobao.org/mirrors/electron/
