registry=https://registry.npm.taobao.org/
proxy=http://127.0.0.1:7890/
https-proxy=http://127.0.0.1:7890/
auto-install-peers=true
store-dir=D:\Scoop\apps\nvm\current\store
global-bin-dir=D:\Scoop\apps\nvm\current\bin
cache-dir=D:\Scoop\apps\nvm\current\cache
state-dir=D:\Scoop\apps\nvm\current\state
global-dir=D:\Scoop\apps\nvm\current\global
